body{
    font-family: roboto;
}
.box{
    text-align: center;
    border: 3px solid #047a04;
  line-height: 4;
}
.example{
    background-color:rgb(225, 225, 225);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.code{
    background-color: white;
    padding: 20px;
    border-left:10px solid green;
    font-family: roboto;
}
.button{
    background-color: rgb(34, 209, 46);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}