#green{
    width:80px ;
    height: 80px;
    background-color: green;
}
#red{
    width:80px ;
    height: 80px;
    background-color: red;

}
#purple{
    background-color: purple;
    width:80px ;
    height: 80px;

}