* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 33px 54px;
    align-items: center;
    flex-direction: row;
}

header img {
    width: 55px;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}

a {
    text-decoration: none;

}

header p {
    font-size: 34px;
    display: flex;
    align-items: center;
}

main .container{
    position: relative;
    width: 100%;
}
img{
    width: 100%;
    height: auto;
}
.mot {
    width: 45%;
    position: absolute;
    top: 20%;
    left: 51%;
}
.new{
    background-color: #FFF3E3;
    color: #333333;
    font-weight: bolder;
}

.our{
    background-color: #FFF3E3;
    font-size: 52px;
    color:#B88E2F ;
    font-weight: bolder;
}
.Lorem{
    background-color: #FFF3E3;
    font-size: 18px;
}
main button{
    background-color:#B88E2F ;
    border: none;
    color:#FFFFFF ;
    padding: 20px;
    width: 170px;
    font-size: 16px;
    margin-top: 40px;
}

section h2{
    text-align: center;
    margin-top: 30px;
}
section p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    color: #666666;
}
.hai{
    font-size: 18px;
    background-color: #FFF3E3;
    position: absolute;
    top: 25%;
    left: 53%;
    list-style-type: none;
}
.ba{
    display: flex;
    justify-content:center;
    gap: 30px;


}
.ba img{
    width: 25%;
    border-radius: 5px;
}
.bon{
    display: flex;
    justify-content: center;
    gap: 500px;
    font-size: 20px;
    margin-top: 20px;
}