:root {
    --bg-color: #0A0A0A;
    --btr-color: #D3E97A;
    --heading-color: #FFFFFF;
    --text-color: #C7C7C7;
    --primary-font: "Bebas Neue";
    --secondary-font: "Manrope";
    --corner-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 18px;
}

a {
    text-decoration: none;
}

nav {
    padding: 24px 60px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.mobile-menu {
    display: none;
}

.logo {
    font-family: var(--primary-font);
    font-size: 32px;
    text-transform: uppercase;
}

nav .destop-menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav .destop-menu li {
    list-style-type: none;
}

header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.main-header {
    padding: 190px 109px;
    list-style-type: none;
}

.main-header .introduce {
    font-family: var(--primary-font);
    font-size: 101px;
    color: var(--heading-color);
}

.main-header .about {
    font-family: var(--secondary-font);
    font-size: 18px;
}

.photo-2 {
    padding: 30px 65px 108px;
    margin-right: 50px;
}

.main-header .contact {
    display: flex;
    width: 400px;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
}

.button-1 {
    width: 187px;
    height: 54px;
    border-radius: 100px;
    background-color: #D3E97A;
    color: var(--bg-color);
    border: none;
    font-weight: bolder;

}

.button-3 {
    background-color: #222222;
    color: #D3E97A;
    width: 56px;
    height: 54px;
    border-radius: 50px;
    border: #222222;
}

.button-2 {
    background-color: #222222;
    color: #D3E97A;
    width: 56px;
    height: 54px;
    border-radius: 50px;
    border: #222222;

}
.border-1{
    border-bottom:3px solid #484848;
}
main{
    background-color: var(--bg-color);
}
main .main-1{
    padding: 100px 108px;
    list-style-type: none;
}
.main-1 .head-1{
    font-family: var(--primary-font);
    width: 464px;
    height: 76px;
    font-size: 76px;
}
.main-1 .head-2{
    font-family: var(--secondary-font);
}






@media screen and (max-width: 768px) {
    nav .destop-menu {
        display: none;
    }

    nav .mobile-menu {
        display: block;
        background-color: transparent;
        border: none;
    }

    nav {
        padding: 24px 16px;
    }
}